/**
 * /* =========================================================
 *   	FONTS
 *     =========================================================
 *
 * @format
 */

@import url('../fonts/Nunito-Italic-VariableFont_wght.ttf');
@import url('../fonts/Nunito-VariableFont_wght.ttf');

/* =========================================================
	MAIN STYLES
   =========================================================
 */
html {
	height: 100%;
}
body {
	font-family: 'Nunito, sans-serif';
	font-size: 20px;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
}

header {
	min-height: 50px; /*for responsive design*/
	padding-top: 0;
}

header ul {
	padding: 0;
	margin: 0;
}
header li {
	padding-left: 20px;
	padding-right: 20px;
	display: inline-flex;
	float: left;
}
header li button {
	margin-top: -10px;
}
button {
	font-size: 15px;
	background-color: #ec4067;
	border: none;
	border-radius: 0.375rem;
	padding: 10px 34px;
	color: white;
	cursor: pointer;
}
h4 {
	font-size: larger;
	font-weight: lighter;
}
.wrapper {
	width: 85%;
	margin: auto;
	overflow: hidden;
}
header a {
	color: grey;
	text-decoration: none;
}
.logo {
	margin: 0;
	padding: 0;
	float: left;
}
nav {
	float: right;
	min-height: 50px;
	margin-top: 40px;
}
.logo {
	float: left;
}
.logo span {
	color: #ec4067;
}

/* Hero section */
.info {
	float: left;
	width: 50%;
}
.info p {
	margin-bottom: 150px;
	font-size: larger;
	font-weight: lighter;
	line-height: 40px;
}
.info button {
	margin-left: 0;
	margin-bottom: 5px;
}
.info h4 {
	font-weight: lighter;
}
.info h3 {
	color: #ec4067;
	font-weight: lighter;
	font-size: 2rem;
}
.info-img {
	float: right;
}
.explore {
	border: 1px solid #ec4067;
	background-color: inherit;
	border-radius: 0;
	color: #ec4067;
}

.story-title {
	background-color: grey;
	display: flex;
}
/* stories section */
.stories-container {
	display: flex;
}
.story-item {
	width: 50%;
	height: 500px;
	margin-top: 40px;
}
.story-item-1 {
	margin-right: 10px;
	background-image: url(../images/image\ 2.png);
	background-size: 100% 100%;
}
.story-item-2 {
	margin-left: 30px;
}
.story-item-2 div {
	align-items: center;
	/* margin-top: 90px; */
}
/*
.story-item-2 h4 {
	margin-left: 30px;
}
.story-item-2 p {
	margin-left: 30px;
	margin-top: 40px;
}
.story-item-2 button {
	margin-left: 30px;
	margin-top: 50px;
} */

footer {
	height: 100px;

	display: flex;
	flex-direction: row;
	text-transform: capitalize;
	align-items: center;
	justify-content: center;
	background-color: #f1eeee;
}
